block includes
  include ../_util-fns
  - var _angular_io = 'angular.io';

- var __lang = _docsFor || current.path[1] || 'ts';
- var guideData = public.docs[__lang].latest.guide._data;
- var advancedLandingPage = '';
- for(var page in guideData) {
-   if (!guideData[page].basics && !guideData[page].hide) { advancedLandingPage = page; break; }
- }
- var advancedUrl = './' + advancedLandingPage + '.html'


:marked
  このページでは、高レベルのAngularドキュメントについて説明します。
  Angularを初めてお持ちの方は、最初に「[Learning Angular](learning-angular.html)」をご覧ください。
  ## Themes

  ドキュメンテーションは主要テーマセクションに分かれており、それぞれのテーマに特化したページ集です。

block js-alert

- var top="vertical-align:top"
table(width="100%")
  col(width="15%")
  col
  tr(style=top)
    td <b><a href="../quickstart.html">QuickStart</a></b>
    td
      :marked
        ゼロインストールのAngular <span if-docs="ts">の最初の味です。
        オンラインコードエディタで "Hello World"を実行し、ライブコードで演奏を始める</span>。
  tr(style=top)
    td <b>Guide</b>
    td
      :marked
        ローカル開発、データの表示、ユーザー入力の受け入れ、アプリケーションサービスのコンポーネントへの注入、シンプルなフォームの構築など、Angularの基礎（既にここにあります）を学びましょう。
  tr(style=top)
    td <b><a href="../api/">API Reference</a></b>
    td
      :marked
        Angularライブラリのそれぞれについての権威ある詳細。
  tr(style=top)
    td <b><a href="../tutorial/">Tutorial</a></b>
    td
      :marked
        アプリケーション・コンテキストでAngularの主な機能を紹介する、Angularを学習するためのステップバイステップの没入型アプローチ。
  tr(style=top)
    td <b><a href="!{advancedUrl}">Advanced</a></b>
    td
      :marked
        Angular 機能と開発実践の詳細な分析
  tr(style=top if-docs="ts")
    td <b><a href="../cookbook/">Cookbook</a></b>
    td
      :marked
        特定のアプリケーションの課題に関するレシピ、主に最小限の説明を含むコードスニペット。

:marked
  いくつかの初期のページはチュートリアルとして書かれており、明確にそのようにマークされています。
  残りのページでは、サンプルを構築するために必要な各ステップについて説明するのではなく、コードの重要な点を強調しています。＃{_ liveLink}でいつでも完全なソースを得ることができます。

  ## Code samples

  各ページには、そのページに付随するサンプルアプリケーションのコードスニペットが含まれています。
  これらのスニペットは、アプリケーションで再利用できます。

  そのサンプルの実行中のバージョンへのリンクを探してください。多くの場合、ページの上部近くにありますが、
  [Architecture](architecture.html) ページの<live-example nodownload name = "architecture"> </live-example>のように、
  <span if-docs="ts">
  このリンクでは、ブラウザベースのコードエディタが起動し、そこでコードを調べ、変更し、保存し、ダウンロードすることができます。
  </span>

  あるいは、<a href="/resources/zips/architecture/architecture.zip">ダウンロードリンク</a>を持つ `live-example`リンクの隣に、サンプルをローカルで実行することもできます。
  ダウンロードして解凍し、 `npm install`を実行して依存関係をインストールし、`npm start`で実行してください。

  ## Reference pages

  * The [Cheat Sheet](cheatsheet.html) lists Angular syntax for common scenarios.
  * The [Glossary](glossary.html) defines terms that Angular developers should know.
  <li if-docs="ts">The [Change Log](change-log.html) announces what's new and changed in the documentation.</li>
  * The [API Reference](../api/) is the authority on every public-facing member of the Angular libraries.

  ## Feedback

  We welcome feedback! 

  * Use the <a href="!{_ngDocRepoURL}" target="_blank" title="angular docs on github">!{_angular_io} Github repository</a> for **documentation** issues and pull requests.
  * Use the <a href="!{_ngRepoURL}" target="_blank" title="angular source on github">Angular Github repository</a> to report issues with **Angular** itself.
